.dashboard{
    &__main{
        display: flex;
    }

    &__sidebar{
        background-color: $third_color;
        border:  0.3125rem solid #fff;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        color: $fourth_color_font;
        height: 97.5vh;
        width: 30%;
    }
    &__navbar{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-evenly;
        align-content: center;
    }
    &__entries{
        overflow-y: scroll;
        margin-top: 1.875rem;
    }
    &__entry{
        background-color: $second_color;
        border-radius: 8px;
        color: $first_color_font;
        display: flex;
        margin-bottom: 0.625rem;
        overflow: hidden;
    }
    &__entry-image{
        height: 4.6875rem;
        width: 4.6875rem;
    }
    &__entry-body{
        display: flex;
        flex-flow: row wrap;
    }
    &__entry-main{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 75%;
    }
    &__entry-title{
        text-align: center;
    }
    &__entry-text{
        font-size: 0.75rem;
        line-height: 1;
        letter-spacing: 0.05px;
        padding-left:10px;
    }
    &__date{
        display: flex;
        flex-direction: column;
        line-height: 0.90;
        width: 25%;
        align-items: center;
        justify-content: center;
        color: $first_color;
        font-weight: bolder;
    }
    &__day-date{
        font-size: 1.70rem;
    }
    &__month-date{
        font-size: 0.85rem;
        line-height: 1.1;
    }
    &__year-date{
        font-size: 0.90rem;
    }
}