.router{
    align-items: center;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    color: $fourth_color_font;
    height: 100vh;

    &__container{
        border:  0.3125rem solid #fff;
        border-radius: 1rem;
        width: 70%;

        @include breakpoint-up(medium){
            width: 60%;
        }

        @include breakpoint-up(large){
            width: 30%;
        }
        
    }

    &__alert{
        background-color: $fourth_color;
        border-radius: 5px;
        color: $first_color_font;
        display: flex;
        justify-content: center;
        //añadir clase mb-10;
        //añadir clase p-5;
    }
}