.router{
    align-items: center;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    color: $fourth_color_font;
    height: 100vh;

    &__container{
        border:  0.3125rem solid #fff;
        border-radius: 1rem;
        width: 70%;

        @include breakpoint-up(medium){
            width: 60%;
        }

        @include breakpoint-up(large){
            width: 30%;
        }
        
    }

    &__google {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin-top: 5px;
        width: 100%;
        height: 42px;
        background-color: transparent; 
        border: 2px solid #fff;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    
        transition: box-shadow .3s ease;
    
        .google-icon-wrapper {
            width: 40px;
            height: 40px;
            background-color: $white;
        }
        .google-icon {
            position: absolute;
            margin-top: 11px;
            margin-left: 11px;
            width: 18px;
            height: 18px;
        }
        .btn-text {
            flex:8;
            text-align: center;
            color: $white;
            font-size: 14px;
            letter-spacing: 0.2px;
        }
        &:hover {
            box-shadow: 0 0 6px  $button-active-blue;
        }
        &:active {
            background: $button-active-blue;
        }
    }
}