//Color palette
$first_color: #3498db;
$second_color: #ecf0f1;
$third_color: #34495e;
$fourth_color: #f1c40f;

//Google Login Button Styles
$white: #fff;
/* $google-blue: #4285f4;  */
$button-active-blue: #1669f2;

//Font colors
$first_color_font:#212121;
$second_color_font: #757575;
$third_color_font: #bdbdbd;
$fourth_color_font:#ffffff;