//Color palette
$first_color: #3498db;
$second_color: #ecf0f1;
$third_color: #34495e;
$fourth_color: #f1c40f;

//Font colors
$first_color_font:#212121;
$second_color_font: #757575;
$third_color_font: #bdbdbd;
$fourth_color_font:#ffffff;