@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html{
    font-size: 100%;
    box-sizing: border-box;
}
*, *::after, *::before{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: inherit;
}
body{
    background-image: linear-gradient(to bottom, #0052d4, #4364f7, #6fb1fc);
    min-height: 100vh;

    @include breakpoint-up(large){
        background-image: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
    }
}
main{
    width: 100%;
}