.mt-1{
    margin-top: 0.0625rem;
}
.mb-1{
    margin-bottom: 0.0625rem;
}
.ml-1{
    margin-left: 0.0625rem;
}
.mr-1{
    margin-right: 0.0625rem;
}
.m-1{
    margin: 0.0625rem;
}
.mx-1{
    margin-top: 0.0652rem;
    margin-bottom: 0.0625rem;
}
.my-1{
    margin-left: 0.0652rem;
    margin-right: 0.0625rem;
}

.mt-3{
    margin-top: 0.1875rem;
}
.mb-3{
    margin-bottom: 0.1875rem;
}
.ml-3{
    margin-left: 0.1875rem;
}
.mr-3{
    margin-right: 0.1875rem;
}
.m-3{
    margin: 0.1875rem;
}
.mx-3{
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;
}
.my-3{
    margin-left: 0.1875rem;
    margin-right: 0.1875rem;
}

.mt-5{
    margin-top: 0.3125rem;
}
.mb-5{
    margin-bottom: 0.3125rem;
}
.ml-5{
    margin-left: 0.3125rem;
}
.mr-5{
    margin-right: 0.3125rem;
}
.m-5{
    margin: 0.3125rem;
}
.mx-5{
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}
.my-5{
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
}

.mt-8{
    margin-top: 0.5rem;
}
.mb-8{
    margin-bottom: 0.5rem;
}
.ml-8{
    margin-left: 0.5rem;
}
.mr-8{
    margin-right: 0.5rem;
}
.m-8{
    margin: 0.5rem;
}
.mx-8{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.my-8{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mt-10{
    margin-top: 0.625rem;
}
.mb-10{
    margin-bottom: 0.625rem;
}
.ml-10{
    margin-left: 0.625rem;
}
.mr-10{
    margin-right: 0.625rem;
}
.m-10{
    margin: 0.625rem;
}
.mx-10{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
.my-10{
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.pt-1{
    padding-top: 0.0625rem;
}
.pb-1{
    padding-bottom: 0.0625rem;
}
.pl-1{
    padding-left: 0.0625rem;
}
.pr-1{
    padding-right: 0.0625rem;
}
.p-1{
    padding: 0.0625rem;
}
.px-1{
    padding-top: 0.0652rem;
    padding-bottom: 0.0625rem;
}
.py-1{
    padding-left: 0.0652rem;
    padding-right: 0.0625rem;
}

.pt-3{
    padding-top: 0.1875rem;
}
.pb-3{
    padding-bottom: 0.1875rem;
}
.pl-3{
    padding-left: 0.1875rem;
}
.pr-3{
    padding-right: 0.1875rem;
}
.p-3{
    padding: 0.1875rem;
}
.px-3{
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
}
.py-3{
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
}

.pt-5{
    padding-top: 0.3125rem;
}
.pb-5{
    padding-bottom: 0.3125rem;
}
.pl-5{
    padding-left: 0.3125rem;
}
.pr-5{
    padding-right: 0.3125rem;
}
.p-5{
    padding: 0.3125rem;
}
.px-5{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}
.py-5{
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}

.pt-8{
    padding-top: 0.5rem;
}
.pb-8{
    padding-bottom: 0.5rem;
}
.pl-8{
    padding-left: 0.5rem;
}
.pr-8{
    padding-right: 0.5rem;
}
.p-8{
    padding: 0.5rem;
}
.px-8{
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.py-8{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pt-10{
    padding-top: 0.625rem;
}
.pb-10{
    padding-bottom: 0.625rem;
}
.pl-10{
    padding-left: 0.625rem;
}
.pr-10{
    padding-right: 0.625rem;
}
.p-10{
    padding: 0.625rem;
}
.px-10{
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}
.py-10{
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}